
@{
    ViewData["Title"] = "MadlibStroryResult";
}

@model Madlib


<h1>@Model.Word2 Family Rock Band</h1>

<text> I don't come from your average <b>@Model.Word1</b> family. That's because we're all part of the <b>@Model.Word2</b> Family rock band and we lead a very <b>@Model.Word3</b> life. For example, by not shaving his <b>@Model.Word4</b> every morning, my dad saves enough time to practice the <b>@Model.Word5</b> drums. My brother doesn't participate in extracurricular <b>@Model.Word6</b> at school becuase he plays the electric <b>@Model.Word7</b>. My <b>@Model.Word8</b> sister doesn't have time to date <b>@Model.Word9</b> becuase she sings lead vocals and practices for four or five hours every <b>@Model.Word10</b>. When I'm not writing our <b>@Model.Word11</b>  songs, I'm tickling the <b>@Model.Word12</b> on the keyboard, so I don't have any free time either. Finally, Mom is our <b>@Model.Word13</b> manager. She books our band to play at weddings, <b>@Model.Word14</b> sixteens, and <b>@Model.Word15</b> mitzvahs. Maybe someday, if we practice <b>@Model.Word16</b> enough, we'll get to make a music video for <b>@Model.Word17</b> - TV and play sold-out shows at Madison Square <b>@Model.Word18</b>!

</text>
